{{ if .Site.Data.blog.enable}}
{{"<!-- Start Blog Section -->" | safeHTML}}
{{ $data := index .Site.Data .Site.Language.Lang }}
<section id="blog" class="parallax-section section section-bg overly">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                {{"<!-- section title -->" | safeHTML}}
                <div class="title text-center wow fadeInDown">
                    <h2> {{ with $data.blog.heading }} {{ . }} {{ end }} <span class="color"> {{ with $data.blog.headingSpan }} {{ . }} {{ end }} </span></h2>
                    <div class="border-meghna"></div>
                </div>
            </div>
            {{"<!-- /section title -->" | safeHTML}}

            <div class="all-post text-center col-lg-12">
                <a class="btn btn-main" href="{{ if .Site.GetPage "/blog" }}/blog{{ else }}/posts{{end}}">{{ i18n "viewAllPost" }}</a>
            </div>
        </div>
    </div>
</section>
{{"<!-- /blog -->" | safeHTML}}
{{ end }}
